body, html{
    background-color:#fff;
    margin: 0px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
  height: 100vh;
}

.flex-container {        
  max-width: 300px;
  min-height: 300px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;   
  position:relative;
  overflow:hidden;
}

.flex-child {                        
  outline:none;
  cursor:pointer;
  position:absolute;
}
.flex-child p{                         
  position:absolute; 
  top:0;
  left:0;
  width:100%;
  min-height:100%;        
  z-index:1;        
}
#heart-like, #heart-unlike{
    outline: none;
    width:100%;
    height:100%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    margin: auto;          
    outline:none;
}
#heart-unlike{display:none;}   
.liked #heart-like{display:none;}
.liked #heart-unlike{display:block;}